#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1; /* Optional: add a background color for the preloader */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#preloader img {
  width: 30%; /* Adjust the size of the preloader GIF */
  height: 30%;
}


:root {
    --btnBackground: #ff7f50;
    --btnBackgroundHover: #ff6347;
    --mainBackground: #f5f5f5;
    --mainTextColor: #333333;
    --secondaryBackground: #a9a9a9;
  }
  
  body {
    position: relative;
    margin: 0.5rem;
    min-height: 98vh;
    background: var(--mainBackground);
    color: var(--mainTextColor);
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  #display-scores-div > button,
  #score-input-div > button,
  header button {
    text-decoration: none;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    padding: 3px 10px;
  }
  
  header p {
    padding: 3px 10px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  main h1 {
    margin: 3vh;
    font-size: 2rem;
    text-align: center;
  }
  
  main > div,
  #instructions {
    padding: 0 15%;
    text-align: center;
    font-size: 1.25rem;
  }
  
  main > button {
    margin: 3vh;
    width: max-content;
    padding: 0 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    font-size: 1.5rem;
  }
  
  main > ul {
    align-self: flex-start;
    margin-left: 15%;
  }
  
  main > ul li {
    margin: 3vh;
    width: max-content;
    min-width: 10vw;
    padding: 5px 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    font-size: 1.5rem;
  }
  
  main > div {
    justify-content: flex-start;
    display: none;
  }
  
  main > div > * {
    margin: 1rem;
  }
  
  #submit-score-div button:hover,
  #display-scores-div button:hover,
  body button:hover,
  main > ul li:hover {
    background: var(--btnBackgroundHover);
    cursor: pointer;
  }
  
  footer {
    position: absolute;
    height: 5vh;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  
  #score-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #score-input-div > * {
    margin: 0.5rem;
  }
  
  #score-input-div > p {
    display: inline;
  }
  
  #score-input-div > input {
    width: 30%;
  }
  
  * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #startQuizBtn,
  #submitScoreBtn,
  #viewScoresBtn,
  #clearScoresBtn,
  #goBackBtn,
  #instructions,
  #title {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
  
  #title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  